body {
    background-image: url(../kepek/hatter.jpg);
    background-color: antiquewhite;
    margin: 20px;
}
img {
    display: block;
    width: 24%;
    float: right;
    margin: 30px;


}
h1 {
    text-align: center;
    font-size: 40px;
}
#header {
    font-size: 35px;
    text-align: center;
    overflow: hidden;
    position:fixed;
    opacity: 75%;
    margin: auto;
    padding: 0%;
    background-image: url(../kepek/hatter.jpg);
}
h3 {
    text-align: center;
    font-size: 25px;
}
h2 {
    text-align: center;
    font-size: 30px;
}
p {
    text-align:justify;
    font-size: 20px;
    width: 50%;
}
#home {
    text-align:justify;
    font-size: 20px;
    width: 50%;
}
#forras {
    text-align: left;
}
.mainkep {
    display: flex;
    margin: auto;
}
div {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
}

a:link {
    text-decoration: none;
    color: rgb(61, 0, 158);
}
a:visited{
    text-decoration: none;
    color: rgb(61, 0, 158);
}
a:hover{
    text-decoration: none;
    color: rgb(134, 59, 255);
    
}
a:active{
    text-decoration: none;
    color: rgb(61, 0, 158);
}
.eler {
    font-size: 25px;
}

#sandra{
    display: block;
    margin-top: 290px;
    margin-bottom: 130px;
}

#abi{
    margin-top: 30px;
}

#utazas{
    margin-top: 180px;
}

#busz{
    margin-top: 130px;
}

#nyir{
    margin-top: 210px;
}

#ati{
    margin-top: 150px;
}

#ep{
    margin-top: 270px;
}

#szeker{
    margin-top: 210px;
}

#bev{
    margin-top: 210px;
}

#hos{
    margin-top: 260px;
}

#jeg{
    margin-top: 320px;
}

#netkviz{
    margin-top: 230px;
    margin-bottom: 440px;
}

#kocsog{
    margin-bottom: 140px;
}

nav{
    height: 50px;
    width: 70vw;
    display: flex;
    min-width: 600px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-size: 15px;
}

a{
    position: relative;
    text-decoration: none;
    padding: 0 5px;
}

a:after{
    content: "";
    position: absolute;
    background-color: rgb(134, 59, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}
#not {
    padding: 0px;
    padding-left: 5%;
}
#imp {
    font-size: 35px;
}
